KangoMetody/Service References/ServiceKango/KmenWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="KmenWebService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IKmenWS_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://poseidon.kst.fri.uniza.sk/KangoStabil/apps/export2/KmenWebService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://poseidon.kst.fri.uniza.sk/KangoStabil/apps/export2/KmenWebService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://poseidon.kst.fri.uniza.sk/KangoStabil/apps/export2/KmenWebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KmenWS" />
      <xsd:import schemaLocation="http://poseidon.kst.fri.uniza.sk/KangoStabil/apps/export2/KmenWebService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IKmenWS_login_InputMessage">
    <wsdl:part name="parameters" element="tns:login" />
  </wsdl:message>
  <wsdl:message name="IKmenWS_login_OutputMessage">
    <wsdl:part name="parameters" element="tns:loginResponse" />
  </wsdl:message>
  <wsdl:message name="IKmenWS_getProjekty_InputMessage">
    <wsdl:part name="parameters" element="tns:getProjekty" />
  </wsdl:message>
  <wsdl:message name="IKmenWS_getProjekty_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProjektyResponse" />
  </wsdl:message>
  <wsdl:message name="IKmenWS_selectProjekt_InputMessage">
    <wsdl:part name="parameters" element="tns:selectProjekt" />
  </wsdl:message>
  <wsdl:message name="IKmenWS_selectProjekt_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectProjektResponse" />
  </wsdl:message>
  <wsdl:message name="IKmenWS_getEntityInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:getEntityInfo" />
  </wsdl:message>
  <wsdl:message name="IKmenWS_getEntityInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:getEntityInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IKmenWS_getAllEntityInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllEntityInfo" />
  </wsdl:message>
  <wsdl:message name="IKmenWS_getAllEntityInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllEntityInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IKmenWS_getPropertyInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:getPropertyInfo" />
  </wsdl:message>
  <wsdl:message name="IKmenWS_getPropertyInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPropertyInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IKmenWS_getFidInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:getFidInfo" />
  </wsdl:message>
  <wsdl:message name="IKmenWS_getFidInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:getFidInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IKmenWS_getAllFidInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllFidInfo" />
  </wsdl:message>
  <wsdl:message name="IKmenWS_getAllFidInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllFidInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IKmenWS_getData_InputMessage">
    <wsdl:part name="parameters" element="tns:getData" />
  </wsdl:message>
  <wsdl:message name="IKmenWS_getData_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDataResponse" />
  </wsdl:message>
  <wsdl:message name="IKmenWS_getEntity_InputMessage">
    <wsdl:part name="parameters" element="tns:getEntity" />
  </wsdl:message>
  <wsdl:message name="IKmenWS_getEntity_OutputMessage">
    <wsdl:part name="parameters" element="tns:getEntityResponse" />
  </wsdl:message>
  <wsdl:message name="IKmenWS_getWSInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:getWSInfo" />
  </wsdl:message>
  <wsdl:message name="IKmenWS_getWSInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:getWSInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IKmenWS_logout_InputMessage">
    <wsdl:part name="parameters" element="tns:logout" />
  </wsdl:message>
  <wsdl:message name="IKmenWS_logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:logoutResponse" />
  </wsdl:message>
  <wsdl:message name="IKmenWS_getTTP_InputMessage">
    <wsdl:part name="parameters" element="tns:getTTP" />
  </wsdl:message>
  <wsdl:message name="IKmenWS_getTTP_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTTPResponse" />
  </wsdl:message>
  <wsdl:portType name="IKmenWS">
    <wsdl:operation name="login">
      <wsdl:input wsaw:Action="http://tempuri.org/IKmenWS/login" message="tns:IKmenWS_login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKmenWS/loginResponse" message="tns:IKmenWS_login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProjekty">
      <wsdl:input wsaw:Action="http://tempuri.org/IKmenWS/getProjekty" message="tns:IKmenWS_getProjekty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKmenWS/getProjektyResponse" message="tns:IKmenWS_getProjekty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="selectProjekt">
      <wsdl:input wsaw:Action="http://tempuri.org/IKmenWS/selectProjekt" message="tns:IKmenWS_selectProjekt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKmenWS/selectProjektResponse" message="tns:IKmenWS_selectProjekt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getEntityInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IKmenWS/getEntityInfo" message="tns:IKmenWS_getEntityInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKmenWS/getEntityInfoResponse" message="tns:IKmenWS_getEntityInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllEntityInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IKmenWS/getAllEntityInfo" message="tns:IKmenWS_getAllEntityInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKmenWS/getAllEntityInfoResponse" message="tns:IKmenWS_getAllEntityInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPropertyInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IKmenWS/getPropertyInfo" message="tns:IKmenWS_getPropertyInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKmenWS/getPropertyInfoResponse" message="tns:IKmenWS_getPropertyInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getFidInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IKmenWS/getFidInfo" message="tns:IKmenWS_getFidInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKmenWS/getFidInfoResponse" message="tns:IKmenWS_getFidInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllFidInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IKmenWS/getAllFidInfo" message="tns:IKmenWS_getAllFidInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKmenWS/getAllFidInfoResponse" message="tns:IKmenWS_getAllFidInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getData">
      <wsdl:input wsaw:Action="http://tempuri.org/IKmenWS/getData" message="tns:IKmenWS_getData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKmenWS/getDataResponse" message="tns:IKmenWS_getData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getEntity">
      <wsdl:input wsaw:Action="http://tempuri.org/IKmenWS/getEntity" message="tns:IKmenWS_getEntity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKmenWS/getEntityResponse" message="tns:IKmenWS_getEntity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getWSInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IKmenWS/getWSInfo" message="tns:IKmenWS_getWSInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKmenWS/getWSInfoResponse" message="tns:IKmenWS_getWSInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="logout">
      <wsdl:input wsaw:Action="http://tempuri.org/IKmenWS/logout" message="tns:IKmenWS_logout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKmenWS/logoutResponse" message="tns:IKmenWS_logout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTTP">
      <wsdl:input wsaw:Action="http://tempuri.org/IKmenWS/getTTP" message="tns:IKmenWS_getTTP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKmenWS/getTTPResponse" message="tns:IKmenWS_getTTP_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IKmenWS" type="tns:IKmenWS">
    <wsp:PolicyReference URI="#WSHttpBinding_IKmenWS_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="login">
      <soap12:operation soapAction="http://tempuri.org/IKmenWS/login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProjekty">
      <soap12:operation soapAction="http://tempuri.org/IKmenWS/getProjekty" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectProjekt">
      <soap12:operation soapAction="http://tempuri.org/IKmenWS/selectProjekt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEntityInfo">
      <soap12:operation soapAction="http://tempuri.org/IKmenWS/getEntityInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllEntityInfo">
      <soap12:operation soapAction="http://tempuri.org/IKmenWS/getAllEntityInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPropertyInfo">
      <soap12:operation soapAction="http://tempuri.org/IKmenWS/getPropertyInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFidInfo">
      <soap12:operation soapAction="http://tempuri.org/IKmenWS/getFidInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllFidInfo">
      <soap12:operation soapAction="http://tempuri.org/IKmenWS/getAllFidInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getData">
      <soap12:operation soapAction="http://tempuri.org/IKmenWS/getData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEntity">
      <soap12:operation soapAction="http://tempuri.org/IKmenWS/getEntity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getWSInfo">
      <soap12:operation soapAction="http://tempuri.org/IKmenWS/getWSInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logout">
      <soap12:operation soapAction="http://tempuri.org/IKmenWS/logout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTTP">
      <soap12:operation soapAction="http://tempuri.org/IKmenWS/getTTP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KmenWebService">
    <wsdl:port name="WSHttpBinding_IKmenWS" binding="tns:WSHttpBinding_IKmenWS">
      <soap12:address location="http://poseidon.kst.fri.uniza.sk/KangoStabil/apps/export2/KmenWebService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://poseidon.kst.fri.uniza.sk/KangoStabil/apps/export2/KmenWebService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>