KangoMetody/Service References/ServiceKango/KmenWebService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://poseidon.kst.fri.uniza.sk/KangoStabil/apps/export2/KmenWebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KmenWS" />
  <xs:element name="login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProjekty">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getProjektyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KmenWS" minOccurs="0" name="getProjektyResult" nillable="true" type="q1:ArrayOfWSProjekt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectProjekt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KmenWS" minOccurs="0" name="projekt" nillable="true" type="q2:WSProjekt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectProjektResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="selectProjektResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEntityInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getEntityInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/KmenWS" minOccurs="0" name="getEntityInfoResult" nillable="true" type="q3:ArrayOfWSEntityInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllEntityInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllEntityInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/KmenWS" minOccurs="0" name="getAllEntityInfoResult" nillable="true" type="q4:ArrayOfWSEntityInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPropertyInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPropertyInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/KmenWS" minOccurs="0" name="getPropertyInfoResult" nillable="true" type="q5:ArrayOfWSPropertyInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFidInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFidInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/KmenWS" minOccurs="0" name="getFidInfoResult" nillable="true" type="q6:ArrayOfWSPropertyInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllFidInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllFidInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/KmenWS" minOccurs="0" name="getAllFidInfoResult" nillable="true" type="q7:ArrayOfWSPropertyInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/KmenWS" minOccurs="0" name="getDataResult" nillable="true" type="q8:ArrayOfWSData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEntity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEntityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/KmenWS" minOccurs="0" name="getEntityResult" nillable="true" type="q9:WSEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getWSInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getWSInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/KmenWS" minOccurs="0" name="getWSInfoResult" nillable="true" type="q10:WSInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="logout">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="logoutResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getTTP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="platnost" type="xs:int" />
        <xs:element minOccurs="0" name="ttpcislo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTTPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/KmenWS" minOccurs="0" name="getTTPResult" nillable="true" type="q11:ArrayOfWSDataTTP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>